# Environment variables and sensitive data
microservices/notification-sender/users.yaml
.env
*.env
.env.*
*users.yaml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Coverage reports
.coverage
htmlcov/
.pytest_cache/

# Virtual environments
.venv/
.github/
venv/
ENV/

#VS Code
.devcontainer/
.vscode/
vtrack-beast.code-workspace
vtrack.code-workspace

#Tools
.husky/
node_modules/
package-lock.json

#scratchpad files
design-docs/*
