# Environment variables
.env
*.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Coverage reports
.coverage
htmlcov/
.pytest_cache/

# Virtual environments
.venv/
.github/
venv/
ENV/

#VS Code
.devcontainer/
.vscode/
vtrack-beast.code-workspace

#Tools
.husky/
node_modules/
package-lock.json

